@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.active {
  @apply dark:text-gray-400 underline underline-offset-8 duration-200 text-gray-500 font-semibold;
}

.hideMenu {
  height: 0;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

.autoHeight {
  height: 64px;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

.showMenu {
  height: 100vh;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}
