@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.active {
  @apply dark:text-gray-400 border-b border-gray-400 font-semibold;
}

.hideMenu {
  height: 0;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

.autoHeight {
  height: 64px;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

.showMenu {
  height: 50vh;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
